#app-header{
    background-image: url(./img/pattern.png);
    background-repeat: repeat-x;
    background-color: rgb(0, 76, 123);
    background-size: 190px;
}

.logo{
    width: 310px;
}
.booleaner{
    color: aqua;
}

.title{
    font-size: 40px;
}

.writer{
    color: grey;
}

.description{
    font-size: 12px;
}